.env/
*.sqlite3
*.log
media/cache
static/cache
__pycache__/
*.pyc
local_settings.py

.DS_Store
.Thumbs.db
.idea (if using IntelliJ IDEA)
.vscode (if using Visual Studio Code)
.sublime-project (if using Sublime Text)

migrations
test_results

# Ignore image files generated or manipulated by Pillow
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico

# Ignore thumbnails or resized images if your project generates them
thumbnails/
resized/

