{% load static %}
<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8" />
	    <title>{% block title %}bakers wetu{% endblock %}</title>
	    <link href="{% static "css/base.css" %}" rel="stylesheet">
    </head>
    <body>
	<div id="header">
	    <a href="/" class="logo">Bakers Wetu</a>
	    <span class="lg"></span>
	    {% if request.user.is_authenticated %}
		<ul class="menu">
		    <li {% if section == "dashboard" %}class="selected"{% endif %}>
			<a href="{% url "dashboard" %}">My dashboard</a>
		    </li>
		    <li {% if section == "Products" %}class="selected"{% endif %}>
			<a href="/">Products</a>
	    	    </li>
	    	</ul>
	{% endif %}
	<span class="user">
	    {% if request.user.is_authenticated %}
		Hello {{ request.user.first_name|default:request.user.username }},
		<a href="{% url "logout" %}">Logout</a>
	    {% else %}
		<a href="{% url "login" %}">Log-in</a>
	    {% endif %}
	</span>
	</div>
	<div id="subheader">
	    <div class="cart">
		{% with total_items=cart|length %}
		    {% if total_items > 0 %}
			Your cart:
			<a href="{% url "cart:cart_detail" %}">
			    {{ total_items }} item{{ total_items|pluralize }},
			    Ksh {{ cart.get_total_price }}
			</a>
		    {% elif not order %}
		        Your cart is empty.
    		    {% endif %}
	        {% endwith %}
	    </div>
	<div id="content">
	    {% block content %}
	    {% endblock %}
	</div>
    </body>
</html>
